{% extends "base.html" %}

{% block body_block %}
<h1>Login</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}

        <p>
        Be remembered: <input type="checkbox" name="remember_me" />
        </p>
        <p>
        <input type="submit" value="Log in" />
        </p>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p>
    <a href="{% url 'auth_password_reset' %}">Forgot your password?</a>
    </p>
    <p>
    Not  a member? <a href="{% url 'registration_register' %}">Register</a>!
    </p>
    <p>
    Lose the activation email? <a href="{% url 'registration_complete' %}">Resend or send to another email</a>
    </p>
{% endblock %}
