{% extends "base_index.html" %}
{% load static from staticfiles %}

{% block body_block %}
    <div class="container fullbackground" style="height:100%; width:100%">
        <div class="top-pad-small">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-4">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'TAEN_Logo.png' %}" class="img-responsive center-block" />
                    </a>
                </div>
            </div>
        </div>
        <div class="top-pad-medium">
            <form method="post" action="." class="form-horizontal">
                {% csrf_token %}

                {{ form.email.errors }}
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8">
                        <input type="email" name="email" class="form-control" placeholder="email address" />
                    </div>
                </div>

                <div class="row top-pad-xs"></div>
                <div class="form-group top-pad-xs">
                    <div class="col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8">
                        <button type="submit" class="btn btn-block accountsButton">Reset</button>
                    </div>
                </div>
            </form>
            <div class="row top-pad-xs">
                <a href="{% url 'login' %}" class="text-small-white">Remember now?<a>
            </div>
            <div class="row top-pad-xs">
                <a href="{% url 'registration_register' %}" class="text-small-white">Not a member yet?<a>
            </div>
        </div>
    </div>

{% endblock %}
