{% extends "base_index.html" %}
{% load static from staticfiles %}

{% block body_block %}
    <div class="container fullbackground" style="height:100%; width:100%">
        <div class="top-pad-small">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-4">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'TAEN_Logo.png' %}" class="img-responsive center-block" />
                    </a>
                </div>
            </div>
        </div>
        <div class="top-pad-medium">
            <div class="row text-small-white">
                <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
                    <p>
                        We've emailed you instructions for setting your password,
                        if an account exists with the email you entered. You should
                        receive them shortly. If you don't receive an email, please
                        make sure you've entered the address you registered with,
                        and check your spam folder.
                    </p>
                </div>
            </div>
            <div class="row top-pad-xs">
                <a href="{% url 'login' %}" class="text-small-white">Remember now?<a>
            </div>
            <div class="row top-pad-xs">
                <a href="{% url 'registration_register' %}" class="text-small-white">Not a member yet?<a>
            </div>
        </div>
    </div>

{% endblock %}
