{% extends "base_index.html" %}
{% load staticfiles %}

{% block body_block %}

    <div class="container">
        <div class="top-pad-medium">
            <div class="row">
                <a href="">
                    <img src="{% static 'TAEN-Logo.png' %}" style="height:90px;" class="img-responsive center" />
                </a>
            </div>
        </div>
        <div class="top-pad-medium">
            <form method="post" action="." class="form-horizontal">
                {% csrf_token %}

                {{ form.username.errors }}
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8">
                        <input type="text" name="username" maxlength="30" class="form-control" placeholder="username" />
                    </div>
                </div>
                {{ form.email.errors }}
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8">
                        <input type="email" name="email" class="form-control" placeholder="email address" />
                    </div>
                </div>
                <div class="row top-pad-small"></div>
                {{ form.password.errors }}
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8">
                        <input type="password" name="password1" class="form-control" placeholder="password" />
                    </div>
                </div>
                {{ form.password2.errors }}
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8">
                        <input type="password" name="password2" class="form-control" placeholder="confirm password" />
                    </div>
                </div>
                {{ form.tos.errors }}
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8">
                        <div class="checkbox login-checkbox float-left">
                            <label>
                                <input type="checkbox" name="tos" /> agree to our
                                <a href="{% url 'terms_of_service' %}">terms of service</a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row top-pad-xs"></div>
                <div class="form-group top-pad-xs">
                    <div class="col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8">
                        <button type="submit" class="btn btn-block accountsButton">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
