{% extends 'base_index.html' %}
{% load static %}

{% block body_block %}

<div class="container">
    <div class="top-pad-small">
        <div class="row">
            <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-4">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/TAEN_Logo.png' %}" style="height:90px;" class="img-responsive center-block" />
                </a>
            </div>
        </div>
    </div>
    <div class="top-pad-small">
        <h3>Welcom to TAEN!</h3>
        <p>
            Check your email to complete registration.
        </p>
        <p>
            Not see it?
        </p>
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 top-pad-small">
            <p>
                Enter the email you used to resend the activation code, or enter a new email
                and your username if you'd like it sent to another email.
            </p>
        </div>

        <div class="row top-pad-small"></div>

        <form method="post" action="." class="form-horizontal">
            {% csrf_token %}

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8">
                    <input type="email" name="email" class="form-control" placeholder="email address" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8">
                    <input type="text" name="username" maxlength="30" class="form-control" placeholder="username" />
                </div>
            </div>

            <div class="row top-pad-xs"></div>
            <div class="form-group top-pad-xs">
                <div class="col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8">
                    <button type="submit" class="btn btn-block accountsButton">Resend</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
