/* This is my CSS file */

.fullbackground{
    background: url("../images/cityBackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.enterButton{
    background: #e77367;
    color: #ffffff;
    text-shadow: none;

    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.enterButton:hover{
    background: #E35D4F;
    color: #ffffff;
}

.nav-icons{
    font-size: 2em;
    color: #fff;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    background-color: transparent;
}

.nav-icons:hover{
    color: #818181;
    text-decoration: none;
}

.nav-icons:active{
    color: #5a5a5a;
    text-decoration: none;
}

.accountsButton{
    background: #e77367;
    color: #ffffff;
    text-shadow: none;

    font-size: 20px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.accountsButton:hover{
    background: #E35D4F;
    color: #ffffff;
}

.login-checkbox{
    background-color: transparent;
    float: left;
    padding-left: 10px;
}

.top-pad-large{
    padding-top: 75px;
}

.top-pad-medium{
    padding-top: 50px;
}

.top-pad-small{
    padding-top: 25px;
}

.top-pad-xs{
    padding-top: 10px;
}

.top-pad-xxs{
    padding-top: 2px;
}

.bottom-pad-large{
    padding-bottom: 75px;
}

.bottom-pad-small{
    padding-bottom: 25px;
}

.text-large-white{
    font-size: 22px;
}

.text-small-white{
    font-size:14px;
    color: #fff;
}

.text-small-left-align-white{
    font-size: 5px;
    color: #fff;
    text-align: center;
}

.profile-preview {
    height: 100%;
    margin: 5px 0px 5px 0px;
    outline: 1px solid #dbdbdb;
    background: transparent;
    color: #4d4d4d;
}

.profile-preview:hover{
    background: #e77367;
    color: #fff;
}

.profile-preview:active{
    background: #E35D4F;
    color: #fff;
}

.site-footer {
	background-color: #242424;
	color: white;
}

.negative-bottom-margin{
    margin-bottom: -3px !important;
    margin-right: 0px !important;
}

.custom-dropdown{
    width: 20em;
    text-align: center;
    margin-top: -2em;
    margin-bottom: -2em;
    padding-bottom: -5em;
}

.profile-preview-content {
	padding-top: 0px;
	color: inherit;
    text-align: center;
}

.profile-image {
	height:100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 0 auto;
}

.remove-portfolio-link{
    color: red;
    font-size: 1.5em;
}

ul.pagination li.active a{
    background-color: #e77367;
    border-color: #e77367;
}

ul.pagination li.active a:hover{
    background-color: #E35D4F;
    border-color: #E35D4F;
}

ul.pagination li a{
    color: #e77367;
}

ul.pagination li a:hover{
    color: #E35D4F;
}
