.search-button{
    background-color: transparent;
    color: #fff;
    font-size: 2em;
    outline-style: none;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-top: 6px;
    padding-left: 3px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
    border-style: none;
    float: right;
    margin: 0px;
    margin-left: -12px;
    margin-bottom: -9px;
}

.search-icon{
    color: inherit;
    padding: 0px;
    font-size: 2em;
}

.search-text{
    height: 37px;
    padding: 0em;
    margin-right: -.5em;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: -10px;
    border-style: none;
    outline-style: none;
    text-indent: 1em;
    line-height: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
    float: right;
    font-size: 1.2em;
    max-width: 0em;
    transition: all .3s ease .2s;
    color: #535353;
    font-weight: 400;
}
