.search-button{
    background-color: transparent;
    color: #fff;
    font-size: 2em;
    outline-style: none;
    padding-right: .125em;
    padding-bottom: .1em;
    padding-top: .1em;
    padding-left: .1em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-style: none;
    float: right;
    margin: 0px;
    margin-left: -.4em;
    margin-bottom: -.28em;
}

.search-icon{
    color: inherit;
    padding: 0px;
    font-size: 2em;
}

.search-text{
    height: 2.0424em;
    padding: 0em;
    margin-right: -.5em;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: -.55em;
    border-style: none;
    outline-style: none;
    text-indent: 1em;
    line-height: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    float: right;
    font-size: 1.2em;
    max-width: 0em;
    transition: all .3s ease .2s;
}
