{% extends 'content.html' %}
{% load staticfiles %}

{% block content %}
    <hr/>
    {% for talent in talents %}
    <a href="?filter={{ talent }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ talent }}</a>
    {% endfor %}
    {% for profile in profiles %}
      <h3>Hello I am {{ profile.name }}</h3>
          <p>
          {% if profile.picture %}
              <img src={{ profile.picture.url }} />
          {% else %}
              <img src="{% static 'images/defaultProfile.png' %}" />
          {% endif %}
          </p>
          <p>
          Pitch: {{ profile.pitch }}
          </p>
          <p>
          Portfolio:
          {% for link in profile.portfolioLink.all %}
              <a href="{{ link.link }}" target='_blank'>{{ link.link }}</a>
          {% endfor %}
          </p>
          <p>
          Talents:
          {% for talent in profile.talent.all %}
              {{ talent }}
          {% endfor %}
          <p>
          <p>
          <a href="{% url 'profile' username=profile %}">View Profile</a>
          </p>
          <p>
          Distance: {{ profile.distance }}
          </p>
          <p>
          Want to work with them? <a href="mailto:{{ profile.user.email }}">Contact them</a>
          </p>
          <hr/>
    {% endfor %}

    <span>
        {% if profiles.has_previous %}
        <a href="?page={{ profiles.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">previous</a>
        {% endif %}

        <span>
            Page {{ profiles.number }} of {{ profiles.paginator.num_pages }}
        </span>

        {% if profiles.has_next %}
        <a href="?page={{ profiles.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">next</a>
        {% endif %}
    </span>
{% endblock %}
