{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
    <h1>Welcome to the inside of TAEN!</h1>
    <hr/>
    {% for talent in talents %}
      <a href="{% url 'talentFilter' talent=talent %}">{{ talent }}</a>
    {% endfor %}
    {% for profile in profiles %}
      <h3>Hello I am {{ profile.name }}</h3>
          <p>
          {% if profile.picture %}
              <img src={{ profile.picture.url }} />
          {% else %}
              <img src="{% static 'images/defaultProfile.png' %}" />
          {% endif %}
          </p>
          <p>
          Pitch: {{ profile.pitch }}
          </p>
          <p>
          Portfolio: {{ profile.portfolio }}
          </p>
          <p>
          Talents: {{ profile.talent.all }}
          <p>
          <p>
          <a href="{% url 'profile' username=profile %}">View Profile</a>
          </p>
          <hr/>
    {% endfor %}

    <span>
        {% if profiles.has_previous %}
            <a href="?page={{ profiles.previous_page_number }}">previous</a>
        {% endif %}

        <span>
            Page {{ profiles.number }} of {{ profiles.paginator.num_pages }}
        </span>

        {% if profiles.has_next %}
            <a href="?page={{ profiles.next_page_number }}">next</a>
        {% endif %}
    </span>
{% endblock %}
