{% extends 'base.html' %}

{% block body_block %}
    <h1>Edit your profile</h1>

    <form id="profile_form" method="post" action="/edit_profile/" enctype='multipart/form-data'>
        {% csrf_token %}

        {% for hidden in profileForm.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in profileForm.visible_fields %}
            <p>
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
            </p>
        {% endfor %}

        {% for hidden in userForm.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in userForm.visible_fields %}
            <p>
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
            </p>
        {% endfor %}

        <input type="submit" name="submit" value="Update" />
    </form>

    <a href="{% url 'auth_password_change' %}">Change Password</a>

{% endblock %}
