{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}ENTERTAEN - Profile{% endblock %}
{% block background-color %}#f2f2f2{% endblock %}
{% block body_block %}

    <div class="row profile-panel">
        <div class="col-sm-3 col-xs-5">
            <div class="row">
                <div class="center-block" style="width: 125px;">
                    {% if profile.picture %}
                        <img src="{{ profile.picture.url }}" class="profile-image-full" />
                    {% else %}
                        <img src="{% static 'defaultProfile.png' %}" class="profile-image-full" />
                    {% endif %}
                    {% if isSelf %}
                        <a href="{% url 'edit_profile' %}" class="center-block" style="color: #e77367; text-decoration: none; text-align: center;">
                            edit profile
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-7">
            <div style="padding-left: 7%;">
            <h3 style="font-size: 2em;"><b>{{ profile.name }}</b></h3>
            <p style="font-size: 1.25em; font-weight: 200;">
                {% if profile.talent.all %}
                    {% for talent in profile.talent.all %}
                        {% if forloop.last %}
                            {{ talent }}
                        {% else %}
                            {{ talent }}/
                        {% endif %}
                    {% endfor %}
                {% else %}
                    No talent specified
                {% endif %}
            </p>
            <p>
                <i class="fa fa-map-marker" style="color: #e77367; font-size: 1.5em;"></i>
                {{ profile.city }}, {{ profile.state }}
                ({% if distance %}{{ distance }}{% else %}0{% endif %} mi.)
            </p>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12">
            <div class="row profile-header-contacts">
                <div class="col-sm-12 col-xs-6" style="height: 1.2em;">
                    <p>
                        <a href="mailto:{{ profile.user.email }}">
                            <span class="glyphicon glyphicon-envelope" id="mailTo"></span>
                        </a>
                    </p>
                </div>
                <div class="col-sm-12 col-xs-6" style="height: 1.2em;">
                    <p>
                        {% if isSelf %}
                            <a href="">
                                <span class="glyphicon glyphicon-plus-sign" id="saveContact"></span>
                            </a>
                        {% elif not isContact %}
                            <a href="{% url 'add_contact' username=profile %}">
                                <span class="glyphicon glyphicon-plus-sign" id="saveContact"></span>
                            </a>
                        {% else %}
                            <a href="{% url 'remove_contact' username=profile %}">
                                <span class="glyphicon glyphicon-remove-sign" id="removeContact"></span>
                            </a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-offset-3">
            <p id="profilePitch">
                {{ profile.pitch }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-xs-12" style="margin:0px;padding:0px;">
            <div class="row profile-panel profile-side-panel">
                <p class="profile-panel-header">
                    <b>About</b>
                </p>
                <div class="profile-panel-content">
                    <table class="profile-about-table">
                        <tr>
                            <th>Age</th>
                            <td>{{profile.age }}</td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td>
                                {% if profile.gender %}
                                    {{ profile.gender }}
                                {% else %}
                                    Not Specified
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Main Genre</th>
                            <td>{{ profile.genres }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row profile-panel profile-side-panel">
                <p class="profile-panel-header">
                    <b>My Work</b>
                </p>
                <div class="profile-panel-content">
                    <table id="profilePortfolioTable" class="profile-link-table">
                    </table>
                </div>
            </div>
            <div class="row profile-panel profile-side-panel">
                <p class="profile-panel-header">
                    <b>Follow Me</b>
                </p>
                <div class="profile-panel-content">
                    <table id="profileSocialTable" class="profile-link-table">
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-xs-12" style="margin:0px;padding:0px;">
            <div class="profile-panel profile-center-panel">
                <p class="profile-panel-header">
                    <b>Contacts</b>
                </p>
                <div class="profile-panel-content">
                    <ul class="profile-contact-list">
                        {% if profile.contacts.all|length %}
                            {% for contact in profile.contacts.all %}
                                <li>
                                    <a href="{% url 'profile' username=contact %}">
                                        {% if contact.picture %}
                                            <img src="{{ contact.picture.url }}" class="profile-image-small" />
                                        {% else %}
                                            <img src="{% static 'defaultProfile.png' %}" class="profile-image-small" />
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            No Contacts
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="profile-panel profile-center-panel">
                <p class="profile-panel-header">
                    <b>Projects</b>
                </p>
                <div class="profile-panel-content" style="padding: 0;">
                    {% if profile.project.all|length %}
                        {% for project in profile.project.all %}
                            <a href="{{ project.link }}">
                                <div class="row profile-projects" style="border-bottom: 1px solid #dbdbdb; margin: 0; padding: 0;">
                                    {% if project.image %}
                                        <img src="{{ project.image.url }}" class="profile-widget-image" />
                                    {% else %}
                                        <img src="{% static 'musicicon.svg' %}" class="profile-widget-image" />
                                    {% endif %}
                                    <p class="profile-widget-description">
                                        {{ project.description }}
                                    </p>
                                    <p class="profile-widget-title">
                                        {{ project.title }}
                                    </p>
                                    <p class="profile-widget-description">
                                        {{ project.contributors }}
                                    </p>
                                </div>
                            </a>
                            {% if forloop.last %}
                                <div style="padding: 5px;">
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p style="padding-left: 15px;">
                            No projects have been added
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="profile-panel profile-center-panel">
                <p class="profile-panel-header">
                    <b>Tools of the Trade</b>
                </p>
                <div class="profile-panel-content" style="padding: 0;">
                    {% if profile.tool.all|length %}
                        {% for tool in profile.tool.all %}
                            <div class="row" style="border-bottom: 1px solid #dbdbdb; margin: 0; margin-bottom: 10px; padding: 0;">
                                {% if tool.image %}
                                    <img src="{{ tool.image.url }}" class="profile-widget-image" />
                                {% else %}
                                    <img src="{% static 'musicicon.svg' %}" class="profile-widget-image" />
                                {% endif %}
                                <p class="profile-widget-title">
                                    {{ tool.title }}
                                </p>
                                <p class="profile-widget-description">
                                    {{ tool.description }}
                                </p>
                            </div>
                            {% if forloop.last %}
                                <div style="padding: 5px;">
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p style="padding-left: 15px;">
                            No tools have been added
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <!-- -->
    <div id="links" >
        {% if profile.portfolioLink.all|length %}
            {% for link in profile.portfolioLink.all %}
                <a href="{{ link.link }}">
                    {% if link.title %}
                        {{ link.title }}
                    {% else %}
                        {{ link.link }}
                    {% endif %}
                </a>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}

{% block js_src %}
    <script src="{% static 'js/searchAndProfile.js' %}"></script>
{% endblock %}
