{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
    <h1>Welcome to the inside of TAEN!</h1>
    <h3>Hello I am {{ profile.name }}</h3>
        <p>
        {% if profile.picture %}
            <img src={{ profile.picture.url }} />
        {% else %}
            <img src="{% static 'images/defaultProfile.png' %}" />
        {% endif %}
        </p>
        <p>
        Pitch: {{ profile.pitch }}
        </p>
        <p>
        Portfolio: {{ profile.portfolio }}
        </p>
        <p>
        Talents: {{ profile.talent.all }}
        </p>
        {% if not isSelf %}
        <p>
        Distance: {{ distance }}
        </p>
        <p>
        Number of times saved: {{ num_contacts }}
        </p>
        {% if not isContact %}
        <p>
        <a href="{% url 'add_contact' username=profile %}">Add Contact</a>
        </p>
        {% else %}
        <p>
        <a href="{% url 'remove_contact' username=profile %}">Remove Contact</a>
        </p>
        {% endif %}
        <p>
        Want to work with them? <a href="mailto:{{ profile.user.email }}">Contact them</a>
        </p>
        {% else %}
        <p>
        <a href="{% url 'edit_profile' %}">Edit Profile</a>
        </p>
        {% endif %}

{% endblock %}
